@model ShopMohinh.ViewModel.ModelView
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:black;text-align:center">Tổng doanh thu</h1>
            </div>
            
        </div>
        <div class="row" style="background-color:rgb(184, 252, 225)">

            <form action="/Admin/Thongke/LocDoanhthu" method="post" style="width:100%" enctype="multipart/form-data">
                <table align="center">
                    <tr>
                        <td>Từ ngày</td>
                        <td>Đến ngày</td>
                    </tr>
                    <tr>

                        <td><input name="start"  value="01/01/2010" type="date" /></td>
                        <td><input name="end" value="01/01/2021" type="date" /></td>
                        <td>
                            <button type="submit">
                                Lọc doanh thu
                            </button>
                        </td>

                    </tr>
                </table>
            </form>
            <div class="col-lg-2">
                ID
            </div>
            <div class="col-lg-2">
                Khách hàng
            </div>
            <div class="col-lg-2">
                Ngày thanh toán
            </div>
            <div class="col-lg-2">
                Địa chỉ giao hàng
            </div>
            <div class="col-lg-2">
                Tổng giá trị
            </div>
            <div class="col-lg-2">
                Trạng thái đơn hàng
            </div>
            @{
                double sum = 0;
                foreach (var i in Model.OrderBills)
                {
                    <div class="col-lg-2">
                        @i.IDOrder
                    </div>
                    <div class="col-lg-2">
                        @i.FullName
                    </div>
                    <div class="col-lg-2">
                        @i.OrderDate
                    </div>
                    <div class="col-lg-2">
                        @i.Address
                    </div>
                    <div class="col-lg-2">
                        @i.Total
                    </div>
                    <div class="col-lg-2">
                        @i.Trangthai
                    </div>
                    sum = sum + i.Total.Value;
                }
            }

        </div>
        <div class="row">

            <hr style="width:100%;border:1px 1px 1px 1px" />
            <div class="col-lg-6" style="color:black;font-weight:bold;text-align:left">Tổng Doanh Thu</div>
            <div class="col-lg-6" style="color:red;text-align:right">@sum.ToString("#,##0").Replace(",", ".") VNĐ</div>
        </div>
    </div>
   


