
@{
    ViewData["Title"] = "Index List Category";
}

@model CategoryModelView

<section class="section-name padding-y-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    @if (Model.CategoryInfo != null)
                    { // text là 1 cái tag trong Razor để điền chuỗi trong if
                        <text>@Model.CategoryInfo.CategoryName</text>
                    }
                </h1>
                <p>
                    @if (Model.CategoryInfo != null)
                    {
                        <text>@Model.CategoryInfo.Describe</text>
                    }
                </p>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model.DataList)
            {
                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            @*<span class="badge badge-danger"> NEW </span>*@
                            <a href="/Product/Detail?id=@item.IDProduct">
                                <img src="~/imagesAdmin/Products/@item.ImagePath" alt="@item.ProductName" />
                            </a>
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <a href="#" class="title mb-2">@item.Describe</a>
                            <div class="price-wrap">
                                <span class="price">@item.NewPrice VNĐ</span>
                                @*<small class="text-muted">/per item</small>*@
                            </div> <!-- price-wrap.// -->
                            @*<p class="mb-2"> 2 Pieces  <small class="text-muted">(Min Order)</small></p>*@

                            <a href="/product/detail?id=@item.IDProduct">
                                <p class="text-muted ">@item.ProductName</p>
                            </a>

                            @*<hr>*@

                            @*<p class="mb-3">
                                    <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                    <span class="tag"> 2 Years </span>
                                    <span class="tag"> 23 reviews </span>
                                    <span class="tag"> Japan </span>
                                </p>*@
                            <a asp-controller="Product" asp-action="addCart" asp-route-id="@item.IDProduct" class="addProduct">Thêm vào giỏ hàng</a>

                            @*<label class="custom-control mb-3 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Add to compare
                                    </div>
                                </label>*@
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            }
        </div>
    </div><!-- container // -->
</section>

